* {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 5px;
}

body {
    background-color: rgb(26, 49, 49);
}

.container {
    background-color: aliceblue;
    text-align: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 33%;
    margin-right: 33%;
    min-width: 300px;
    border-radius: 10px;
    min-height: 33%;
}

.mcq {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    min-width: 90%;
    border: 2px solid black;
    background-color: rgb(204, 207, 209);
    transition: 0.5s;
}

.button-container {
    width: 90%;
    margin-left: 5%;
}

.mcq:hover {
    background-color: rgb(49, 48, 48);
    color: azure;
}

.correct {
    background-color: rgb(58, 111, 5);
}

.incorrect {
    background-color: rgb(228, 120, 142);
}


.mcq {

    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    min-width: 90%;
    border: 2px solid black;
    background-color: rgb(204, 207, 209);
    transition: 0.5s;
}

.button-container {

    width: 90%;
    margin-left: 5%;
}

.mcq:hover {
    background-color: rgb(49, 48, 48);
    color: azure;
}

.correct {
    background-color: rgb(58, 111, 5);
}

.incorrect {
    background-color: rgb(228, 120, 142);
}